
<p>
  <span>Soccer Mom Companion</span> was created to relieve the stress of the Saturday snack predicament.
<br>
<br>
  "Who is bringing snacks on Saturday?"
  <br>
  "Didn't Julie bring last weekend?"
  <br>
  "Why does billy's mom always bring fruit snacks?"
<br>
<br>
  Ask these questions no more with <span>Soccer Mom Companion</span>.
<br>
<br>
  Step 1: Sign Up
  <br>
  Step 2: Sign In
  <br>
  Step 3: Start feeding those little athletes!
</p>
