<!DOCTYPE html>
<html>
  <head>
    <link  href="http://fonts.googleapis.com/css?
family=Reenie+Beanie:regular" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Soccer Mom</title>
    <script type="text/javascript">
      // var localStorage = {};
      function saveEdits() {
        var editCalendar = document.getElementsByClassName('snack-description');
        // grab editable calendar elements

        var userCalendar = editCalendar.innerHTML
        // grab edited version

        localStorage.userEdits = userCalendar;
        //save info locally

        document.getElementById("update").innerHTML = "Calendar saved!"
        //deliver confirmation message
      } //end saveEdits
      // function checkEdits(){
      //   if (localStorage.userEdits != null) {
      //     document.getElementsByClassName('snack-description').innerHTML = localStorage.userEdits;
      //   }
      // } //end checkEdits
    </script>
  </head>
  <!-- <body onload='checkEdits()'> -->
  <body>
    <!-- checkEdits will run to load saved changes from user -->
    {{#if user}}
    <!-- <div class="user-btns"> -->
    <div class="navigation">
      <form  action="/signout?_method=DELETE" method="POST">
        <button type="submit" class="hvr-pulse">Sign Out</button>
      </form>
      <form action="/userhome" method="get">
        <button type="submit" class="hvr-pulse" class="user-btns">Home</button>
      </form>
      <form action="/calendar" method="get">
        <button type="submit" class="hvr-pulse" >Calendar</button>
      </form>
    </div>
    <!-- </div> -->
        <!-- <li style='display: inline;'><a href="/userhome">Home</a></li> -->
    {{else}}
    <div class="navigation">
      <form action="/signin" method="get">
        <button type="submit" class="hvr-pulse">Sign In / Up</button>
      </form>
    </div>
        <!-- <li style='display: inline;'><a href="/signin">Sign In / Up</a></li> -->
        <!-- <li style='display: inline;'><a href="/userhome">Home</a></li> -->
    {{/if}}
    <div class="title">
      <h1 id="header">Soccer Mom Companion</h1>
      <h2 id ="subheader">For All of Your Saturday Snack Needs</h2>
    </div>
    {{{ body }}}

    <footer> &copy Z 2016 </footer>
  </body>
</html>
