<!DOCTYPE html>
<html>
  <head>
    <link  href="http://fonts.googleapis.com/css?
family=Reenie+Beanie:regular" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/styles.css">
    <meta charset="utf-8">
    <title>Soccer Mom</title>
  </head>
  <body>
    {{#if user}}
    <div class="user-btns">
      <form  action="/signout?_method=DELETE" method="POST">
        <button type="submit" class="hvr-pulse">Sign Out</button>
      </form>
      <form action="/userhome/{{user._id}}" method="get">
        <button type="submit" class="hvr-pulse" >Home</button>
      </form>
    </div>
        <!-- <li style='display: inline;'><a href="/userhome">Home</a></li> -->
    {{else}}
      <form action="/signin" method="get">
        <button type="submit" class="hvr-pulse">Sign In / Up</button>
      </form>
        <!-- <li style='display: inline;'><a href="/signin">Sign In / Up</a></li> -->
        <!-- <li style='display: inline;'><a href="/userhome">Home</a></li> -->
    {{/if}}
    <div class="title">
      <h1 id="header">Soccer Mom Companion</h1>
      <h2 id ="subheader">For All of Your Saturday Snack Needs</h2>
    </div>
    {{{ body }}}

    <footer> &copy Z 2016 </footer>
  </body>
</html>
