<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Soccer Mom</title>
  </head>
  <body>
    <h1>Soccer Mom Companion</h1>
    <h2>For all of your saturday snack needs</h2>

    {{{ body }}}
    
    <footer> &copy Z 2016 </footer>
  </body>
</html>
