<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Soccer Mom</title>
  </head>
  <body>
    <ul>
      {{#if user}}
      <form action="/signout?_method=DELETE" method="POST">
        <button type="submit">Sign Out</button>
      </form>
      <li style='display: inline;'><a href="/userhome">Home</a></li>
      {{else}}
      <li style='display: inline;'><a href="/signin">Sign In / Up</a></li>
      <li style='display: inline;'><a href="/userhome">Home</a></li>
      {{/if}}
    </ul>
    <h1>Soccer Mom Companion</h1>
    <h2>For all of your Saturday snack needs</h2>

    {{{ body }}}

    <footer> &copy Z 2016 </footer>
  </body>
</html>
