<div id="calendar-wrap">
  <header>
    <h1>October 2016</h1>
  </header>
  <div id="calendar">
    <ul class="weekdays">
      <li>Sunday</li>
      <li>Monday</li>
      <li>Tuesday</li>
      <li>Wednesday</li>
      <li>Thursday</li>
      <li>Friday</li>
      <li>Saturday</li>
    </ul>
  </div>
</div>
