<div id="calendar-wrap">
  <header>
    <h1>October 2016</h1>
  </header>
  <div id="calendar">
    <ul class="weekdays">
      <li>Sunday</li>
      <li>Monday</li>
      <li>Tuesday</li>
      <li>Wednesday</li>
      <li>Thursday</li>
      <li>Friday</li>
      <li>Saturday</li>
    </ul>
    <ul class="days"> <!--represents row-->
      <li class="day other-month">
        <div class="date">25</div>
      </li>
      <li class="day other-month">
        <div class="date">26</div>
      </li>
      <li class="day other-month">
        <div class="date">27</div>
      </li>
      <li class="day other-month">
        <div class="date">28</div>
      </li>
      <li class="day other-month">
        <div class="date">29</div>
      </li>
      <li class="day other-month">
        <div class="date">30</div>
      </li>
      <li class="day">
        <div class="date">1</div>
      </li>
    </ul>

    <ul class="days"> <!--represents row-->
      <li class="day">
        <div class="date">2</div>
      </li>
      <li class="day">
        <div class="date">3</div>
      </li>
      <li class="day">
        <div class="date">4</div>
      </li>
      <li class="day">
        <div class="date">5</div>
      </li>
      <li class="day">
        <div class="date">6</div>
      </li>
      <li class="day">
        <div class="date">7</div>
      </li>
      <li class="day">
        <div class="date">8</div>
      </li>
    </ul>

    <ul class="days"> <!--represents row-->
      <li class="day">
        <div class="date">9</div>
      </li>
      <li class="day">
        <div class="date">10</div>
      </li>
      <li class="day">
        <div class="date">11</div>
      </li>
      <li class="day">
        <div class="date">12</div>
      </li>
      <li class="day">
        <div class="date">13</div>
      </li>
      <li class="day">
        <div class="date">14</div>
      </li>
      <li class="day">
        <div class="date">15</div>
      </li>
    </ul>
  </div>
</div>
