<div id="edit-password">
  <h3>Hey, {{user.username}}! <br>
    Want a new password?</h3>
  <br>
  <form action="/{{user._id}}/update?_method=put" method="post">
  <label>New, cooler password: </label>
  <input type="password" name="password">
  <input type="submit" value="Save">
  </form>
</div>
