<h3>The Mother List</h3>

{{#each users}}
  <div class ='mom'>
    <!-- <h4><a href='/username'>{{ username }}</a></h4> -->
    <h4>{{ username }}</h4>
      {{#each snacks}}
        <p>  {{name}}  </p>
      {{/each}}
  </div>
  <hr>
{{/each}}
