<h3>The Mother List</h3>

{{#each users}}
  <div class ='mom'>
    <h4><a href='/username'>{{ username }}</a></h4>
    <div class="snackList">
      {{#each user.snacks}}
      <div class="snack-show">
        <p>
          {{name}}
        </p>
      </div>
      <br>
      {{/each}}
    </div>
  </div>
{{/each}}
<hr>
