<!-- SIGN IN -->
<form action="/signin" method="post" id="signin">
  <input type="text" name="username" placeholder="username">
  <input type="password" name="password" placeholder="password">
  <button type="submit">Sign In</button>
</form>

<!-- SIGN UP -->
<form action="/signup" method="post" id="signup">
  <input type="text" name="username" placeholder="username">
  <input type="password" name="password" placeholder="password">
  <input type="text" name="favSnack" placeholder="your child's fav snack">
  <button type="submit">Sign Up</button>
</form>
