<!-- SIGN IN -->
<div id="forms">
  <form action="/signin" method="post">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button type="submit" class="hvr-pulse">Sign In</button>
  </form>
  <br>
  <br>
  <!-- SIGN UP -->
  <form action="/signup" method="post">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button type="submit" class="hvr-pulse">Sign Up</button>
  </form>

</div>
