<h3>Welcome back, {{user.username}}!</h3>
<form action="/motherlist" method="get">
   <button type="submit" name="button">View the Mother List</button>
</form>
<br>
<br>
{{#each user.snacks}}
  <p>  {{name}} </p>
<br>
{{/each}}
<br>
<br>
<form action="/newSnack/{{user._id}}" method="post">
  <input type="text" name="name" placeholder="Snack Name">
  <button type="submit">Add Snack</button>
</form>
<br>
