<form action="/motherlist" method="get">
   <button type="submit" class="hvr-pulse">View the Mother List</button>
</form>
<!-- <a href="/motherlist">Mother List</a> -->
<h3>Welcome back, {{user.username}}</h3>
<h3>Your Snacks:</h3>
{{#each user.snacks}}
  <p>  {{name}} </p>
  <form action="/deleteSnack/{{user.snacks._id}}?_method=post" method="post">
    <button type="submit" name="button" class="hvr-pulse">Eaten</button>
  </form>
<br>
{{/each}}
<br>
<br>
<form action="/newSnack/{{user._id}}" method="post">
  <input type="text" name="name" placeholder="Snack Name">
  <button type="submit" class="hvr-pulse">Add Snack</button>
</form>
<br>
