/*body {
  background: blue;
}*/
/*#signin #signup {

}*/
.navigation {
  display: block;
  width: 90px;
  background: #7c795d;
}
#forms {
  width: 50%;
  display: block;
  margin: 5% 30% 0 30%;
  box-sizing: border-box;
  padding:20px;
  border: 1px black solid;
}
.description {
  text-align: right;
  border-left: 2px #7c795d solid;
  padding: 10px;
}
.steps {
  text-align: left;
  padding: 10px;
}
.user-snacks {
  /*border: 1px black solid;*/
  height: 80px;
  padding: 20px;
}
.user-snacks li {
  /*display: inline;*/
  text-decoration: none !important;
  background: #7c795d;
  display: inline-block;
  /*float: left;*/
  width: 20vw;
  box-sizing: border-box;
  border: 1px solid #ccc;
  margin-right: -1px;
  padding: 10px;
  text-align: center;
}
input {
  padding: 5px 10px;
  font-size: 13px;
}
button {
    background-color: #7c795d;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
}
.user-btns {
  display: block;
  width: 120px;
  /*display: inline-block;*/
  position: fixed;
  /*float: right;*/
  top: 10px;
  left:10px;
  box-sizing: border-box;
}
@keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
.hvr-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
  -webkit-animation-name: hvr-pulse;
  animation-name: hvr-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
/*.mom-container {
  border: 1px black solid;
}
.user-fav-snack {
  /*background-color: black;
  color: white;
  display: inline-block;*/
/* }
.snacks {
  /*background-color: blue;
  color: white;*/
/*} */

* {
  margin:0;
  padding:0;
}
body{
  font-family:arial,sans-serif;
  margin:3em;
  /*background:#666;*/
  color: black;
}
h3 p{
  font-weight:normal;
}
ul li .sticky{
  list-style:none;
  margin:1em;
  position: relative;
  /*display:inline;*/
  float: left;
}
ul.sticky{
  overflow:hidden;
  padding:3em;
}
ul.sticky li h3{
  font-size:140%;
  font-weight:bold;
  padding-bottom:10px;
}
ul.sticky li p {
  font-family:"Reenie Beanie",arial,sans-serif;
  font-size:180%;
}
ul.sticky li a {
  float: left;
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:10em;
  width:10em;
  padding:1em;
  /* Firefox */
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  /* Safari+Chrome */
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  /* Opera */
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  -moz-transition:-moz-transform .25s linear;
  -o-transition:-o-transform .25s linear;
  -webkit-transition:-webkit-transform .25s linear;
  -webkit-transform:rotate(-6deg);
  -o-transform:rotate(-6deg);
  -moz-transform:rotate(-6deg);
}
ul:nth-child(even) li a {
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:5px;
  background: #ccf;
}
ul:nth-child(3n) li a {
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:5px;
  background: #cfc;
}

/*Use the transform method scale to zoom
in on inidividual sticky note and increase
intensity of box-shadow
Idea from Chris Heilmann*/
ul.sticky li a:hover,ul.sticky li a:focus{
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  position:relative;
  z-index:5;
}
.title {
  text-align: right;
}
#header {
 color: #7c795d;
 font-family: 'Trocchi', serif;
 font-size: 50px;
 font-weight: normal;
 line-height: 48px;
 margin: 0;
 position: absolute;
 top: 10px;
 right: 10px;
}
#subheader {
  color: #333;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin: 0 0 24px;
  position: absolute;
  top: 55px;
  right: 10px;
}
footer {
  position: fixed;
  bottom: 10px;
  opacity: 0.25;
}
/*CALENDAR*/
#calendar {
  width: 99vw;
  bottom: 10px;
}
#calendar a {
  color: #666;
  text-decoration: none;
}
#calendar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  clear: both;
  width: 99vw;
}
#calendar li {
  display: block;
  float: left;
  width: 13vw; <!-- about one seventh -->
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  margin-right: -1px;
  margin-bottom: -1px;
}
#calendar ul.weekdays {
  height: 40px;
  width: 92%;
  background: #333;
}
#calendar ul.weekdays li {
  text-align: center;
  text-transform: uppercase;
  line-height: 20px;
  border: none !important; /*ignore other rules*/
  padding: 10px 6px;
  color: #fff;
  font-size: 13px;
}
#calendar .days li {
  height: 120px;
}
#calendar .days li:hover {
  background: #eee;
}
#calendar .date {
  text-align: center;
  margin-bottom: 5px;
  padding: 5px;
  background: #7c795d;
  color: #fff;
  width: 25px;
  border-radius: 50%;
}
#calendar .snack{
  clear: both;
  display: block;
  font-size: 13px;
  border-radius: 4px;
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 5px;
  color: #666;
  line-height: 14px;
  background: #7c795d;
  border: 1px solid black;
  color: #fff;
  text-decoration: none;
}
#calendar .snack-description {
  color: #666;
  margin: 3px 0 7px 0;
  text-decoration: none;
}
#calendar .other-month {
  background: #f5f5f5;
  color: #666;
}

@media(max-width: 620px) { /*iPad*/
  #calendar .weekdays {
    display:none; /*no weekdays needed for small screen*/
  }
  #calendar li {
    height: auto !important; /*ignore other rules*/
    border: 1px solid black;
    width: 90%;
    padding: 10px;
    margin-bottom: -1px;
  }
  #calendar .other-month {
    display: none; /*no prev month needed for small screen*/
  }
  #header {
    font-size: 40px;
  }
  #subheader {
    display: none;
  }
  .description {
    text-align: left;
  }
  /*#calendar .date {
    float: none;
  }*/
}


/*3D TITLE*/
/*.title {
text-align: center;
color: #fff;
font-size: 1em;
font-weight: bold;
font-family: Helvetica;
text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}*/
